* {
    margin: 0;
    padding: 0;
}

.Eu {
    width: 200px;
    margin-left: 20%;
    border-radius: 10px;
}

.seta {
    display: flex;
    position: absolute;
    right: 280px;
    top: 150px;
    border-radius: 10px;
}

h1, h2{
  text-align:  center;
  margin-top: 25px;
  margin-bottom: 20px;
}

a {
    display: flex;
    position: absolute;
    right: 150px;
    top: 220px; 
    text-decoration: none;
    color: orange;
}

.link:hover {
    font-size: 40px;
    color: black;
}

body {
    border: 2px, solid, black;
    border-radius: 10px;
    margin: 50px;
}
