* {
    margin: 0;
    padding: 0;
}

.Eu {
    width: 200px;
    margin-left: 20%;
}

.seta {
    display: flex;
    position: absolute;
    right: 280px;
    top: 150px;
}

h1, h2{
  text-align:  center;
  margin-top: 25px;
  margin-bottom: 20px;
}

h2 {
    margin-left: 20%;
}

a {
    display: flex;
    position: absolute;
    right: 150px;
    top: 220px; 
}

body {
    border: 2px, solid, black;
    border-radius: 10px;
    margin: 50px;
}
